<div class="post">

    <div class="column">
        <div class="head">
            <div class="row">
                <div class="form-inline">
                    <div class="picture">
                        <img src="../../../assets/images/cookfood.png" alt="avatar" class="avatar">
                    </div>
                </div>
                    <div class="author" id= "username">Cookies </div>
                    
            <div class = "comment">
                <div class="posttitle">
                        <h4>{{postTitle}}</h4>
                    </div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu enim condimentum, placerat 
                enim eget, consectetur felis. Donec ultricies euismod nulla. Nam eu ligula fermentum, accumsan 
                magna eget, scelerisque sem. Pellentesque at enim elit. Aliquam erat volutpat. Sed a urna sed 
                libero ultrices bibendum. Aenean id risus ut purus lacinia cursus. Nullam id sollicitudin odio.
                 Mauris faucibus nisl justo, sed porttitor ante fringilla id.
            </div>
            <div class="divider">
               
            </div>

                <div class="row">
                    <div class="replypic">
                        <div class="picture">
                            <img src="../../../assets/images/cookfood.png" alt="avatar" class="avatar">
                        </div>
                    </div>
                        <div class="commentor" id= "username">Cookies</div>
                <div class = "reply">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu enim condimentum, placerat 
                    enim eget, consectetur felis. Donec ultricies euismod nulla. Nam eu ligula fermentum, accumsan 
                    magna eget, scelerisque sem. Pellentesque at enim elit. Aliquam erat volutpat. Sed a urna sed 
                    libero ultrices bibendum. Aenean id risus ut purus lacinia cursus. Nullam id sollicitudin odio.
                    Mauris faucibus nisl justo, sed porttitor ante fringilla id.
                </div>
                <br>
                <div class="replypic">
                    <div class="picture">
                        <img src="../../../assets/images/cookfood.png" alt="avatar" class="avatar">
                    </div>
                </div>
                        <div class="commentsection">
                          <input class="commentbox" type="text" placeholder="Write a Comment"> 
                        </div>
                        <div class="postbtn">
                        <button type="post" class="btn btn-outline-danger">Post</button>
                             </div>
                    </div>
             
           
        </div>

     </div>
</div>