.head {
  padding: 50px;
  padding-top: 20px;
  width: 886px;
  height: 200px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.form-control {
  width: 618px;
  height: 44px;
  border-radius: 10px;
  outline: transparent;
  box-shadow: transparent;
}

textarea {
  position: relative;
  padding: 10px;
  left: 34px;
  float: left;
  width: 618px;
  height: 100px;
  border-radius: 10px;
  text-align: start;
  border-color: rgb(218, 215, 215);
  outline: transparent;
}
.col-xs-4 {
  margin-left: 16px;
  margin-right: 20px;
}
